In [3]:
import numpy as np
import pandas as pd

In [12]:
fandom_dfs = []

csv_filenames = ['mha.csv', 'haikyuu.csv', 'aot.csv', 'bsd.csv', 'danganronpa.csv', 'hetalia.csv', 'jojo.csv', 'naruto.csv', 'onepiece.csv', 'pokemon.csv']

for csv in csv_filenames:
    fandom_dfs.append(pd.read_csv('data/' + csv))
    
tag_df = pd.read_csv('data/ordered_tags_20210226.csv')

In [14]:
for i in range(len(fandom_dfs)):
    fandom_dfs[i] = fandom_dfs[i][['Title', 'Author', 'Kudos', 'Comments', 'Bookmarks', 'Hits', 'Tags']]
    
for df in fandom_dfs:
    display(df.info())
    
display(tag_df.head(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99980 entries, 0 to 99979
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      99980 non-null  object
 1   Author     99980 non-null  object
 2   Kudos      99980 non-null  int64
 3   Comments   99980 non-null  int64
 4   Bookmarks  99980 non-null  int64
 5   Hits       99980 non-null  int64
 6   Tags       99980 non-null  object
dtypes: int64(4), object(3)
memory usage: 5.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Title      100000 non-null  object
 1   Author     100000 non-null  object
 2   Kudos      100000 non-null  int64
 3   Comments   100000 non-null  int64
 4   Bookmarks  100000 non-null  int64
 5   Hits       100000 non-null  int64
 6   Tags       100000 non-null  object
dtypes: int64(4), object(3)
memory usage: 5.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42334 entries, 0 to 42333
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      42334 non-null  object
 1   Author     42334 non-null  object
 2   Kudos      42334 non-null  int64
 3   Comments   42334 non-null  int64
 4   Bookmarks  42334 non-null  int64
 5   Hits       42334 non-null  int64
 6   Tags       42334 non-null  object
dtypes: int64(4), object(3)
memory usage: 2.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34819 entries, 0 to 34818
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      34819 non-null  object
 1   Author     34819 non-null  object
 2   Kudos      34819 non-null  int64
 3   Comments   34819 non-null  int64
 4   Bookmarks  34819 non-null  int64
 5   Hits       34819 non-null  int64
 6   Tags       34819 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.9+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35925 entries, 0 to 35924
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      35925 non-null  object
 1   Author     35923 non-null  object
 2   Kudos      35925 non-null  int64
 3   Comments   35925 non-null  int64
 4   Bookmarks  35925 non-null  int64
 5   Hits       35925 non-null  int64
 6   Tags       35925 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.9+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33378 entries, 0 to 33377
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      33378 non-null  object
 1   Author     33378 non-null  object
 2   Kudos      33378 non-null  int64
 3   Comments   33378 non-null  int64
 4   Bookmarks  33378 non-null  int64
 5   Hits       33378 non-null  int64
 6   Tags       33378 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.8+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30086 entries, 0 to 30085
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      30086 non-null  object
 1   Author     30086 non-null  object
 2   Kudos      30086 non-null  int64
 3   Comments   30086 non-null  int64
 4   Bookmarks  30086 non-null  int64
 5   Hits       30086 non-null  int64
 6   Tags       30086 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59399 entries, 0 to 59398
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      59399 non-null  object
 1   Author     59399 non-null  object
 2   Kudos      59399 non-null  int64
 3   Comments   59399 non-null  int64
 4   Bookmarks  59399 non-null  int64
 5   Hits       59399 non-null  int64
 6   Tags       59399 non-null  object
dtypes: int64(4), object(3)
memory usage: 3.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29886 entries, 0 to 29885
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      29886 non-null  object
 1   Author     29886 non-null  object
 2   Kudos      29886 non-null  int64
 3   Comments   29886 non-null  int64
 4   Bookmarks  29886 non-null  int64
 5   Hits       29886 non-null  int64
 6   Tags       29886 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      30745 non-null  object
 1   Author     30745 non-null  object
 2   Kudos      30745 non-null  int64
 3   Comments   30745 non-null  int64
 4   Bookmarks  30745 non-null  int64
 5   Hits       30745 non-null  int64
 6   Tags       30745 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.6+ MB

None

    Unnamed: 0                name  canonical  merger_id
0            0               ! ! !      False        NaN
1            1        ! - Freeform      False        NaN
2            2           ! to read      False   312096.0
3            3                  !!      False        NaN
4            4                 !!!      False        NaN
5            5                !!!!      False        NaN
6            6               !!!!!      False        NaN
7            7              !!!!!!      False        NaN
8            8             !!!!!!!      False        NaN
9            9            !!!!!!!!      False        NaN
10          10           !!!!!!!!!      False        NaN
11          11          !!!!!!!!!!      False        NaN
12          12         !!!!!!!!!!!      False        NaN
13          13        !!!!!!!!!!!!      False        NaN
14          14       !!!!!!!!!!!!!      False        NaN
15          15      !!!!!!!!!!!!!!      False        NaN
16          16     !!!!!!!!!!!!!!!      False        NaN
17          17    !!!!!!!!!!!!!!!!      False        NaN
18          18   !!!!!!!!!!!!!!!!!      False        NaN
19          19  !!!!!!!!!!!!!!!!!!      False        NaN